@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Orbitron:wght@400..900&display=swap');

/* Definición de variables */
:root {
    --main-font-family: "Roboto", sans-serif;
    --main-fonts-color: #ffffff;
    --main-decor-color: #222222;
    --header-height: 70px;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font-family);
    background-color: #000;
    color: var(--main-fonts-color);
}

/* Main container */
main-nav {
    padding: .5rem;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
}

.container {
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo para dispositivos grandes */
    margin: 0 auto; /* Centra el contenedor */
    padding: 0 1rem; /* Añade espacio horizontal */
}

@media (max-width: 768px) {
    .container {
        padding: 0 0.5rem; /* Reduce el padding en pantallas pequeñas */
    }
}

/* Header styling */
header {
    margin: 0 auto;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(121, 121, 121);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que el header esté sobre otros elementos */
    transition: 0.3s;
}

header:hover {
    opacity: 0.9;
    background: rgb(8, 0, 0);
}

.logo img {
    height: 2.5rem; /* Ajuste de tamaño en rem para adaptarse */
    margin-left: 1rem;
}

.nav-bar {
    list-style: none;
    display: flex;
    gap: 1rem; /* Espacio entre los elementos de la navegación */
}

.nav-link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-family: "Orbitron", sans-serif;
    cursor: pointer;
    border-radius: 15px;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

.active {
    background: rgb(0, 0, 0);
}

.nav-link:hover {
    color: #119dd0;
    background: black;
}

h2 {
    font-size: 2rem; /* Usa rem para hacer el tamaño del texto flexible */
    font-family: "Orbitron", sans-serif;
    color: var(--main-fonts-color);
    text-align: center;
    padding: 1rem;
    text-shadow: 0 0 30px #fff;
}

@media (max-width: 768px) {
    h2 {
        font-size: 1rem;
        padding: 1rem;
    }
}

.flashing-name {
    font-size: 10rem; /* Ajuste de tamaño en rem */
    font-family: "Grey Qo", cursive;
    margin-top: 4rem;
    text-align: center;
    line-height: 2em;
    color: var(--main-fonts-color);
    animation: flash 8s infinite;
    text-shadow: 0 0 30px #fff;
}   

@media (max-width: 768px) {
    .flashing-name {
        font-size: 3rem;
    }
}

.typewriter {
    font-size: 2rem;
    color: var(--main-fonts-color);
    border-right: 0px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-shadow: 0 0 30px #fff;
    font-family: "Orbitron", sans-serif;
}

@media (max-width: 768px) {
    .typewriter {
        font-size: 1.5rem;
    }
}

#typewriter-text {
    display: inline-block;
}

.social-media {
    padding: 2rem;
    display: flex;
    gap: 1rem; /* Añadir espacio entre íconos */
    justify-content: center;
    text-shadow: 0 0 20px #fff;
}

.social-media a {
    font-size: 2rem;
    color: var(--main-fonts-color);
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: rgb(102, 105, 109);
    text-shadow: 2px 1010px 70px var(--main-decor-color);
}

/* Projects section */
#projects {
    margin-top: calc(var(--header-height) + 1rem); /* Ajuste para evitar que quede oculto por el header */
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--main-fonts-color);
}

@media (max-width: 768px) {
    #projects {
        padding: 1rem 0;
    }
}

#projects p {
    font-family: "Orbitron", sans-serif;
    font-size: 1rem;
    padding: 1.5rem;
    margin: 0;
    text-align: center;
}

@media (max-width: 768px) {
    #projects p {
        font-size: 1.2rem;
        padding: 1rem;
    }
}

.work {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem; /* Espacio entre los proyectos */
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    padding: 1.5rem 0;
}

.card {
    flex: 0 0 250px; /* Permite que las tarjetas sean desplazables horizontalmente */
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: var(--main-decor-color);
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 180px; /* Establecer una altura fija para las imágenes */
    border-radius: 10px 10px 0 0;
    object-fit: cover; /* Asegura que la imagen cubra toda el área */
}

.card .work-content {
    padding: 1rem;
    font-size: 1rem;
    color: var(--main-fonts-color);
    font-family: var(--main-font-family);
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 1.5rem gray;
    transform: translateY(-5px);
}

/* Certifications section */
.certifications h2 {
    font-size: 1rem;
    font-family: var(--main-font-family);
    color: var(--main-fonts-color);
    text-align: center;
}

#certifications p {
    font-size: 1.5rem;
    font-family: "Orbitron", sans-serif;
    color: var(--main-fonts-color);
    text-align: center;
}

.cert-list {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
    text-align: justify;
    color: var(--main-fonts-color);
}

.cert-list li {
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.cert-list li i {
    color: rgb(35, 141, 168);
    margin-right: 10px;
}

/* Links */
a:link {
    color: #0f427c;
}

a:visited {
    color: #efefef;
}

hr {
    border: 0;
    height: 3px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin: 2rem 0;
}

/* Contact section */
#contact p {
    color: var(--main-fonts-color);
    font-family: "Orbitron", sans-serif;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}       
.WhatsAppButtonWhiteSmall{
    color:white;
}
.footer {
    color: rgb(35, 25, 143);
    text-align: center;
    padding: 1rem 0;
    margin-top: 1rem;
    background-color: #7b7b7b;
}
    
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-image {
    max-width: 50px;
    margin-bottom: 0.5rem;
}

.footer p {
    margin: 0;
}

/* Carousel Styles */
.carousel-container {
    position: relative;
    width: 70%;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    min-width: 250px;
    margin: 0 10px;
    transition: transform 0.5s ease;
}

.carousel-button {
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 1rem;
    z-index: 1;
    font-size: 2rem;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
    .carousel-button {
        padding: 0.5rem;
        font-size: 1.5rem;
    }
}
